NET CLK	LOC=D11 |	IOSTANDARD = "LVCMOS33";

## LEDs
NET "LED[0]"	LOC=W3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L9P_3,		Sch name = LD0
NET "LED[1]"	LOC=Y4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L7N_3,		Sch name = LD1
NET "LED[2]"	LOC=Y1	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L2N_3,		Sch name = LD2
NET "LED[3]"	LOC=Y3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L8P_3,		Sch name = LD3
NET "LED[4]"	LOC=AB4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L12N_3,	Sch name = LD4
NET "LED[5]"	LOC=W1	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L9N_3,		Sch name = LD5
NET "LED[6]"	LOC=AB3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L8N_3,		Sch name = LD6
NET "LED[7]"	LOC=AA4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L12P_3,	Sch name = LD7

## Keypad
NET "KYPD_COL[0]"	LOC = H8	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L58P_3,	Sch name = COL1
NET "KYPD_COL[1]"	LOC = J7	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L58N_3,	Sch name = COL2
NET "KYPD_COL[2]"	LOC = K8	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L59P_3,	Sch name = COL3
NET "KYPD_COL[3]"	LOC = K7	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L59N_3,	Sch name = COL4

NET "KYPD_ROW[0]"	LOC = E4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L60P_3,	Sch name = ROW1
NET "KYPD_ROW[1]"	LOC = F3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L60N_3,	Sch name = ROW2
NET "KYPD_ROW[2]"	LOC = G8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L73P_3,	Sch name = ROW3
NET "KYPD_ROW[3]"	LOC = G7	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L73N_3,	Sch name = ROW4
