挑战者杯国赛/国赛PPT2025挑战者杯.pptx filter=lfs diff=lfs merge=lfs -text
计网安-图灵班（含普通班ppt）/Android恶意软件检测基础.pptx filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/eat/.vs/eat/v17/ipch/AutoPCH/70bef36e3c2e5b19/源.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/人机对战五子棋/.vs/人机对战五子棋/v17/ipch/AutoPCH/48fe7fe0ec00096/CHESS.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/人机对战五子棋/.vs/人机对战五子棋/v17/ipch/AutoPCH/4cc39398f7b78d09/CHESSGAME.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/人机对战五子棋/.vs/人机对战五子棋/v17/ipch/AutoPCH/b47587b271214f6/MAN.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/人机对战五子棋/.vs/人机对战五子棋/v17/ipch/AutoPCH/c8952ca7f68ca0c6/AI.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/人机对战五子棋/.vs/人机对战五子棋/v17/ipch/AutoPCH/d4116396a1f60f88/CHESSGAME.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/人机对战五子棋/.vs/人机对战五子棋/v17/ipch/AutoPCH/e78441058a67aa96/源.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/对战/.vs/对战/v17/ipch/AutoPCH/2a2322a026a8a612/DREAMER.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/对战/.vs/对战/v17/ipch/AutoPCH/afec9c7b0d8f031e/BUBBLE.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/对战/.vs/对战/v17/ipch/AutoPCH/e030c80655f0e4a7/PET.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/对战/.vs/对战/v17/ipch/AutoPCH/f1868486bcf6b903/VS.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/练习/.vs/练习/v17/ipch/AutoPCH/40accf79e428c5d/AI.ipch filter=lfs diff=lfs merge=lfs -text
/C语言（一些小项目，还有一些好玩的）/练习/.vs/练习/v17/ipch/AutoPCH/64e8b14686a6b162/AI.ipch filter=lfs diff=lfs merge=lfs -text
/近代史纲要（课程展示，剧本+背景）/四渡赤水.mp4 filter=lfs diff=lfs merge=lfs -text
/小说/OrangeS一个操作系统的实现[[:space:]](于渊)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
/小说/TCPIP详解_卷1：协议（原书第2版）_(凯文_R._福尔_(Kevin_R._Fall)_etc.)_(Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
/小说/UNIX环境高级编程(第3版)[[:space:]]([[:space:]]etc.)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
/小说/人工智能：现代方法（第4版）（精装版）_(Stuart_Russell)_(Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
/小说/操作系统――精髓与设计原理（第九版）_(William_Stallings)_(Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
/小说/理想国译丛系列\[套装32册\]（MIRROR系列）[[:space:]](巴巴拉·塔奇曼弗朗西斯·福山纳尔逊·曼德拉奥兰多·费吉斯)[[:space:]](Z-Library).epub filter=lfs diff=lfs merge=lfs -text
/小说/福尔摩斯探案全集（插图新注新译本）全七册[[:space:]](亚瑟·柯南·道尔,李家真)[[:space:]](Z-Library).epub filter=lfs diff=lfs merge=lfs -text
/小说/管理学（马工程重点教材）[[:space:]](《管理学》编写组)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
/小说/计算机安全原理与实践(原书第三版）_(威廉·斯托林斯_(William_Stallings）)_(Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
/小说/计算机网络：自顶向下方法（原书第8版）_(\[美\]詹姆斯·F.库罗斯,_\[美\]基思·W.罗斯,_陈鸣)_(Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
/小说/金庸作品全集[[:space:]](全36册)[[:space:]]新修版[[:space:]](金庸,[[:space:]]古聖先賢)[[:space:]](Z-Library).epub filter=lfs diff=lfs merge=lfs -text
/小说/黑格尔著作集[[:space:]]第3卷[[:space:]]精神现象学[[:space:]](\[德\]黑格尔；[[:space:]]先刚译)[[:space:]](Z-Library).pdf.crdownload filter=lfs diff=lfs merge=lfs -text
