##Clock Signal 100MHz
	NET "CLK100MHZ"	LOC="D11" |	IOSTANDARD = "LVCMOS33";
	NET "CLK100MHZ" TNM_NET = sys_clk_pin;
	TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

##Switches
	NET "SW[0]"	LOC= V5		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L13N_3,	Sch name = SW0
	NET "SW[1]"	LOC= U4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L18P_3,	Sch name = SW1
	NET "SW[2]"	LOC= V3		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L18N_3,	Sch name = SW2
	NET "SW[3]"	LOC= P4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L21P_3,	Sch name = SW3
	NET "SW[4]"	LOC= R4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L21N_3,	Sch name = SW4
	NET "SW[5]"	LOC= P6	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L22P_3,	Sch name = SW5
	NET "SW[6]"	LOC= P5	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L22N_3,	Sch name = SW6
	NET "SW[7]"	LOC= P8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L23P_3,	Sch name = SW7

## LEDs
	NET "LED[0]"	LOC=W3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L9P_3,		Sch name = LD0
	NET "LED[1]"	LOC=Y4		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L7N_3,		Sch name = LD1
	NET "LED[2]"	LOC=Y1		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L2N_3,		Sch name = LD2
	NET "LED[3]"	LOC=Y3		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L8P_3,		Sch name = LD3
	NET "LED[4]"	LOC=AB4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L12N_3,	Sch name = LD4
	NET "LED[5]"	LOC=W1	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L9N_3,		Sch name = LD5
	NET "LED[6]"	LOC=AB3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L8N_3,		Sch name = LD6
	NET "LED[7]"	LOC=AA4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L12P_3,	Sch name = LD7

## Buttons
	NET "BTN[0]"	LOC = E6		; #|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L82P_3,	Sch name = BTN0
	NET "BTN[1]"	LOC = D5		; #|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L82N_3,	Sch name = BTN1
	NET "BTN[2]"	LOC = A3		; #|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L83P_3,	Sch name = BTN2
	NET "BTN[3]"	LOC = AB9	; #|	IOSTANDARD=LVCMOS33;

## 7 Segment Display
	NET "SEG[0]"	LOC=AA21	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L63P_1,	Sch name = 7SD-AA
	NET "SEG[1]"	LOC=AA22	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L63N_1,	Sch name = 7SD-AB
	NET "SEG[2]"	LOC=Y22	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L59N_1,	Sch name = 7SD-AC
	NET "SEG[3]"	LOC=N15	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L60P_1,	Sch name = 7SD-AD
	NET "SEG[4]"	LOC=AB19	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L65P_1,	Sch name = 7SD-AE
	NET "SEG[5]"	LOC=P20	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L64N_1,	Sch name = 7SD-AF
	NET "SEG[6]"	LOC=Y21	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L59P_1,	Sch name = 7SD-AG

#	NET dp	LOC=P15	|	IOSTANDARD=LVCMOS33;					#Bank = 1, pin name = IO_L62P_1,	Sch name = 7SD-DP

	NET "AN[1]"	LOC = P16		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L62N_1,	Sch name = 7SD-C1
	NET "AN[0]"	LOC = M17		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L58N_1,	Sch name = 7SD-C2
	NET "AN[3]"	LOC = N16		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L60N_1,	Sch name = 7SD-C3
	NET "AN[2]"	LOC = P19		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L64P_1,	Sch name = 7SD-C4
	NET "AN[5]"	LOC = AA20	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L61P_1,	Sch name = 7SD-C5
	NET "AN[4]"	LOC = AB21	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L61N_1,	Sch name = 7SD-C6

## Keypad
	NET "KYPD_COL[0]"	LOC = H8	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L58P_3,	Sch name = COL1
	NET "KYPD_COL[1]"	LOC = J7	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L58N_3,	Sch name = COL2
	NET "KYPD_COL[2]"	LOC = K8	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L59P_3,	Sch name = COL3
	NET "KYPD_COL[3]"	LOC = K7	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L59N_3,	Sch name = COL4
	
	NET "KYPD_ROW[0]"	LOC = E4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L60P_3,	Sch name = ROW1
	NET "KYPD_ROW[1]"	LOC = F3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L60N_3,	Sch name = ROW2
	NET "KYPD_ROW[2]"	LOC = G8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L73P_3,	Sch name = ROW3
	NET "KYPD_ROW[3]"	LOC = G7	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L73N_3,	Sch name = ROW4

## GYR LEDs
	NET	"LDT1G"	LOC="T7"		|	IOSTANDARD = LVCMOS18;	#Bank = 3, pin name = IO_L10N_3,		Sch name = LDT1-G
	NET	"LDT1Y"		LOC="W4"	|	IOSTANDARD = LVCMOS18;	#Bank = 3, pin name = IO_L7P_3,			Sch name = LDT1-Y